* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F3F3F3;
  overflow-y: scroll;
  overflow-x: hidden;
}
a {
  width: 100%;
  text-decoration: none;
  border: none;
  outline: none;
}

header {
  display: flex;
padding: 12px 16px;
justify-content: space-between;
align-items: center;
background: var(--grey-grey-300, #1A1A1A);
}

.logo {
  flex: 0.3 0 0;
}

.search {
  display: flex;
  flex: 1 1 1;
width: 480px;
padding: 8px;
align-items: center;
gap: 6px;
border-radius: 8px;
border: 1px solid var(--stroke-s-200, #616161);
background: var(--grey-g-200, #303030);
}

.search input {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  color: #ffffff;
}

.profile {
  display: flex;
justify-content: flex-end;
align-items: flex-start;
gap: 8px;
}

.profile .profile__image {
  border-radius: 8px;
background: var(--grey-grey-200, #303030);
padding: 8px;
cursor: pointer;
}

.name__section {
   padding: 0px 0px 0px 8px;
   background: #303030;
    border-radius: 8px; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 8px; 
    display: inline-flex;
    cursor: pointer;
}

.name {
  color: #E3E3E3; 
  font-size: 12px; 
  font-family: Inter; 
  font-weight: 500; 
  line-height: 15.60px; 
  word-wrap: break-word;
}

.initials {
  padding: 10px;
  background: #36FBA1; 
  border-radius: 6px; 
  overflow: hidden; 
  justify-content: center; 
  align-items: center; 
  display: flex;
  text-align: center; 
  color: rgba(0, 0, 0, 0.40); 
  font-size: 12px; 
  font-family: Inter; 
  font-weight: 500; 
  line-height: 15.60px; 
  word-wrap: break-word
}

main {
  background-color: #F3F3F3;
  width: 100%;
  padding: 30px;
}

main .inner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  width: 800px;
  margin: 0px 250px 0px auto;
  /* margin-left: 200px; */
}

main .inner .plans__wrapper {
  width: 100%;
  height: 56px; 
  padding-top: 12px; 
  padding-bottom: 12px; 
  padding-left: 16px; 
  padding-right: 8px; 
  background: #1A1A1A; 
  border-radius: 8px; 
  justify-content: space-between; 
  align-items: center; 
  display: inline-flex;
}

main .inner .plans__wrapper .plans__info {
  color: #E3E3E3; 
  font-size: 13px; 
  font-family: Inter; 
  font-weight: 500; 
  line-height: 18.20px; 
  word-wrap: break-word
}

.plans__wrapper {
  transition: all;
  transform: translate(0);
}

.plans {
  justify-content: center; 
  align-items: center; 
  gap: 8px; 
  display: flex;
}

.plans__btn {
  width: 99px;
  padding-left: 10px; 
  padding-right: 10px; 
  padding-top: 6px; 
  padding-bottom: 6px; 
  background: white; 
  border-radius: 6px; 
  overflow: hidden; 
  border: 1px solid rgba(0, 0, 0, 0.10); 
  justify-content: center; 
  align-items: center; 
  gap: 8px; 
  display: flex;
  cursor: pointer;
}

.plans__btnSpan {
  color: #323232; 
  font-size: 12px; 
  font-family: Inter; 
  font-weight: 600; 
  line-height: 15.60px; 
  word-wrap: break-word;
}

.plans__close {
  padding: 6px; 
  border-radius: 6px; 
  justify-content: center; 
  align-items: center;
  display: flex;
}

.plans__close svg {
  cursor: pointer;
}

.setup__guide {
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  display: inline-flex;
}

.setup__guideWrapper {
  width: 800px;
  padding: 8px;
  background: white; 
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05); 
  border-radius: 18px; 
  border: 1px solid #DBDBDB; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  gap: 16px; 
  display: flex
}

.setup__inner {
  width: 100%;
  align-self: stretch; 
  padding: 8px; 
  justify-content: space-between; 
  align-items: flex-start; 
  display: inline-flex;
  cursor: pointer;
}

.setup__innerWrapper {
  width: 100%;
  flex-direction: column; 
  gap: 16px; 
  display: flex;
}

.title__layout {
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 4px; 
  display: flex;
}

.title__layout .title {
  color: #303030; 
  font-size: 14px; 
  font-family: Inter; 
  font-weight: 600; 
  line-height: 19.60px; 
  word-wrap: break-word;
}

.title__layout .title .title__info {
  color: #303030; 
  font-size: 13px; 
  font-family: Inter; 
  font-weight: 400; 
  line-height: 18.20px; 
  word-wrap: break-word;
}

.title__layoutTop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title__layoutTop .title__menu {
  padding: 4px; 
  border-radius: 6px; 
  display: flex;
}

.title__layoutTop .title__menu svg {
  cursor: pointer;
}

.dropdown__section {
  width: 100%;
  display: none;
}


.sections {
  width: 100%;
  display: flex;
  padding: 8px 8px 12px 8px;
  gap: 96px;
  align-self: stretch;
  border-radius: 10px;
  justify-content: space-between;
  background: #ffffff;
  margin-top: 10px;
  cursor: pointer;
}

.sections{
  display: none;
}

.section:nth-of-type(0){
  display: flex
}
 
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  gap: 8px;
}

.title__row {
  display: flex;
  align-items: center;
  gap: 8px;
}



.title__ind {
  color: #303030; 
  font-size: 13px; 
  font-family: Inter; 
  font-weight: 600; 
  line-height: 18.20px; 
  word-wrap: break-word
}

.primary__btn {
  color: #005BD3; 
  font-size: 14px; 
  font-family: Inter; 
  font-weight: 500; 
  line-height: 19.60px; 
  word-wrap: break-word;
  border: none;
}

.section__hide {
  padding-left: 32px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

/* .sections {
  display: none;
} */

.sectionRight__image {
  display: none;
}

.section__hideInfo {
  color: #616161; 
  font-size: 13px; 
  font-family: Inter; 
  font-weight: 500; 
  line-height: 18.20px; 
  word-wrap: break-word;
}

.customize__themeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px; 
  background: #404040; 
  box-shadow: 0px 0px 0px 1.5px #333333; 
  border-radius: 6px; 
  overflow: hidden; 
  border: 1.50px solid rgba(255, 255, 255, 0.20);
  justify-content: flex-start; 
  align-items: center; 
  gap: 8px;
  cursor: pointer;
}

.customize__themeBtn span {
  color: #F6F3F6; 
  font-size: 12px; 
  font-family: Inter; 
  font-weight: 600; 
  line-height: 15.60px; 
  word-wrap: break-word;
}

.row__btn {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 25px;
}

.row__btn .import__btn {
  padding: 6px 12px;
  border-radius: 6px; 
  overflow: hidden; 
  justify-content: flex-start; 
  align-items: center; 
  gap: 8px; 
  display: inline-flex; 
  border: none;
  cursor: pointer;
}

.row__btn .import__btn span {
  color: #323232; 
  font-size: 12px; 
  font-family: Inter; 
  font-weight: 600; 
  line-height: 15.60px; 
  word-wrap: break-word;
  font-weight: 600;
}

.marginTop {
  margin-top: 20px;
}

#drop__down {
  width: 275px; 
  /* height: 390px;  */
  padding: 6px 0px;
  background: white; 
  color: var(--font-dark, var(--grey-g-200, #303030));
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05); 
  border-radius: 14px; 
  border: 1px #DBDBDB solid; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  display: none;
  position: absolute; 
  top: 75px; 
  right: 0px;
  bottom: 160px;
}

.drop__wrapperInner {
  width: 100%;
  align-self: stretch; 
  height: 72px; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 4px; 
  display: flex;
}

.padding__side {
  padding: 0px 6px; 
  width: 100%;
}


.heading__wrapper {
  padding-right: 12px; 
  background: #F1F1F1; 
  border-radius: 8px; 
  justify-content: space-between; 
  align-items: center; 
  display: flex;
}

.drop__heading {
  width: 308px; 
  height: 36px; 
  padding-top: 4px; 
  padding-bottom: 4px; 
  padding-left: 8px; 
  padding-right: 12px; 
  background: #F1F1F1; 
  border-radius: 8px; 
  justify-content: space-between; 
  align-items: center; 
  display: flex;
}

.drop__headingTitle {
  justify-content: flex-start; 
  align-items: center; 
  gap: 8px; 
  display: flex;
}

.drop__nameInitials {
  width: 28px; 
  height: 28px;
  border-radius: 5.25px;
  background: #36FBA1;
  padding: 9.625px 5.875px 10.375px 6.125px;
  padding-bottom: 10.38px;  
  border-radius: 5.25px; 
  overflow: hidden; 
  justify-content: center; 
  align-items: center; 
  display: flex;
}

.drop__nameInitials span {
  text-align: center; 
  color: rgba(0, 0, 0, 0.40); 
  font-size: 10.50px; 
  font-family: Inter; 
  font-weight: 500; 
  line-height: 14.70px; 
  word-wrap: break-word
}

.drop__name {
  color: #303030; 
  font-size: 13px; 
  font-family: Inter; 
  font-weight: 600; 
  line-height: 18.20px; 
  word-wrap: break-word;
}

.profile__storesAll {
  width: 100%;
  align-self: stretch; 
  padding: 6px; 
  border-radius: 8px; 
  justify-content: flex-start; 
  align-items: center; 
  gap: 8px; 
  display: inline-flex;
  margin-bottom: 5px;
}

.profile__stores {
  justify-content: flex-start; 
  align-items: center; 
  display: flex;
  gap: 3px;
}

.profile__storesIcon {
  height: 20px; 
  position: relative; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  display: flex;
}

.link__wrappers {
  align-self: stretch; 
  padding-left: 6px; 
  padding-right: 6px; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 4px; 
  display: flex;
  margin: 2px 0px;
}

.link {
  align-self: stretch; 
  padding: 6px; 
  border-radius: 8px; 
  justify-content: flex-start; 
  align-items: center; 
  display: inline-flex;
  border: 2px solid var(--states-focused, transparent);
  border-radius: 8px;
  cursor: pointer;
}

.link:hover {
  border: 2px solid var(--states-focused, #005BD3);
}

.redirect {
  color: #303030; 
  font-size: 13px; 
  font-family: Inter; 
  font-weight: 400; 
  line-height: 18.20px; 
  word-wrap: break-word;
}

.redirect__span {
  color: #616161; 
  font-size: 12px; 
  font-family: Inter; 
  font-weight: 400; 
  line-height: 15.60px; 
  word-wrap: break-word;
}

.list__container {
  width: 100%;
}

  .rotate {
    animation: rotateAnimation 3s linear forwards;
  }

  /* Keyframes for the rotation animation */
  @keyframes rotateAnimation {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
























